/* Questionnaires List */
.questionnaires-list {
    margin-top: 20px;
}

.questionnaires-list h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

/* Questionnaire Item */
.questionnaire-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.questionnaire-item.accessed {
    background-color: lightgreen;
}

.questionnaire-details {
    margin-bottom: 10px;
}

.questionnaire-title {
    font-size: 1.25em;
    font-weight: bold;
}

.questionnaire-info {
    margin-top: 5px;
    font-size: 0.9em;
}

.questionnaire-info span {
    display: block;
    margin-bottom: 5px;
}

.questionnaire-actions {
    display: flex;
    gap: 10px;
}

.questionnaire-actions button {
    padding: 8px 15px;
    font-size: 14px;
}

.delete-button {
    background-color: #dc3545;
}

.delete-button:hover {
    background-color: #c82333;
}

/* Like/Dislike Buttons */
.like-dislike-buttons {
    display: flex;
    justify-content: flex-end; /* Align buttons to the right */
    width: 100%;
    gap: 5px;
    margin-top: 20px;
}

.like-dislike-buttons button {
    display: flex;
    align-items: center;
    width: 100px;
    gap: 5px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.like-button {
    background-color: #ffffff;
    color: black;
}
.like-button:hover {
    background-color: #dddddd;
    color: black;
    transition: 0.3s;
}

.like-button.liked {
    background-color: #28a745;
    color: white;
}
.like-button.liked:hover {
    background-color: #068523;
    color: white;
    transition: 0.3s;
}

.dislike-button {
    background-color: #ffffff;
    color: black;
}
.dislike-button:hover {
    background-color: #dddddd;
    color: black;
    transition: 0.3s;
}

.dislike-button.disliked {
    background-color: #dc3545;
    color: white;
}
.dislike-button.disliked:hover {
    background-color: #ba1323;
    color: white;
    transition: 0.3s;
}

.like-dislike-buttons button:hover {
    opacity: 0.8;
}